body {
    font-family: Roboto;
     background-image: linear-gradient(to top, #dfe9f3 25%, white 75%);
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.delete {
  margin-right: 5px;
}

.hidden {
  display: none;
}
